@tailwind base;

@tailwind components;

::-moz-selection { /* Code for Firefox */
  color: #f7fafc;
  background: #9b2c2c;
}

::selection {
  color: #f7fafc;
  background: #9b2c2c;
}

@tailwind utilities;